<% content_for(:titulo) do %>Interplantas<% end %>
<ul>
	<li><%= link_to "Inicio", root_path %></li>
	<li><%= link_to "Vivero", variedades_path %></li>
	<li><%= link_to "fincaraiz", inmuebles_path %></li>
</ul>